html {
    font-size: 14px;
}

.header-wrap {
    display: block;
    text-align: center;
}

.tabs-logo {
    margin: 0 auto;
}

.tabs-content {
    background: none;
    text-align: center;
}

.tabs-content__title {
    font-size: 1.65rem;
}

.section__card {
    margin-right: 0;
}

.card_bottom {
    background-position: 205px;
    margin-left: 5px;
    margin-right: 5px;
}

.card-wrap {
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 10px;
    margin-left: 10px;
}

.card-block {
    margin-bottom: 20px;
}

.earn-title {
    padding: 10px;
}

.earn-form__item {
    width: 100%;
    margin-bottom: 10px;
}

.earn-form__button {
   margin: 0 auto;
}

.technical-info {
    margin-bottom: 0;
    margin-top: 0;
}