body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header {
    background: #f4f4f4;
    padding-top: 14px;
    padding-bottom: 14px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.container {
    max-width: 1107px;
    margin: auto;
}

.logo a{
    font-size: 16px;
    font-weight: 700;
    color: #95989a;
    text-decoration: none;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav  {
    flex-basis: 80%;
    color: #95989a;
    font-size: 12px;
}

.nav__link {
    color: #95988a;
    text-decoration: none;
    margin-right: 20px;
}

.login {
    font-size: 12px;
    color: #95989a;
    text-transform: uppercase;
    text-decoration: none;
}

.tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 20px;
    margin-top: 78px;
    color: #95989a;
}

.tabs-logo {
    font-size: 20px;
    margin: 0;
}

.tabs-menu {
    list-style: none;
    padding: 0;
    display: flex;
    color: #272727;
    font-size: 16px;
}

.tabs-menu__item {
    margin-left: 15px;
    position: relative;
}

.tabs-content {
    background: #f2f4ff url('../images/bg_tab.png') no-repeat bottom right 135px;
    border-radius: 10px;
    padding-top: 40px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 43px;
    margin-bottom: 40px;
}

.tabs-content__title {
    font-size: 36px;
}

.tabs-content__text {
    font-size: 18px;
    max-width: 320px;
    margin-bottom: 90px;
}

.button {
    border-radius: 6px;
    padding: 16px 33px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    background-color: #fcde29;
    transition-property: all;
}

.button:hover {
    transition-delay: 50ms;
    transition-duration: 500ms;
    transition-timing-function: linear;
    transform: scale(1.15, 1.15);
    cursor: pointer;
    background: #F1D31E;
}

.tabs-menu__item:hover {
    text-decoration: underline;
    cursor: pointer;
}

.section-title {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

.section__title {
    margin-bottom: 30px;
}

.card {
    background: #f2f4ff;
    border-radius: 10px;
    padding: 23px;
}

.card__text {
    max-width: 480px;
    font-size: 16px;
}

.card_bottom {
    background-image: url('../images/coins.png');
    background-repeat: no-repeat;
    background-position:  center right 79px;
    margin-bottom: 40px;
}

.section__card {
    margin-bottom: 40px;
    margin-right: 50px;
}

.section__card:last-child {
    margin-right: 0;
}

.card-wrap {
    display: flex;
    justify-content: space-between;
}

.section-subtitle {
    display: block;
    text-align: center;
    font-size: 16px;
    margin-bottom: 32px;
}
.best-card {
    width: 240px;
    height: 260px;
    padding: 0;
    position: relative;
}

.best-card__image {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.best-card__image-left {
    left: 0;
    transform: translateX(0);
}

.best-card__image-first {
    background-image: url('../images/Image_6.png');
    background-position: bottom right;
    background-repeat: no-repeat;
}

.best-card__image-last {
    background-image: url('../images/Image_7.png');
    background-position: bottom center;
    background-repeat: no-repeat;
}



.best-card__text {
    max-width: 200px;
    margin: auto;
    text-align: center;
    margin-top: 19px;
}

.earn-title {
    margin-bottom: 61px;
    margin-top: 89px;
}

.earn-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.earn-form__item {
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-radius: 7px;
    background: #f7f8ff;
    padding-top: 23px;
    padding-bottom: 20px;
    padding-left: 21px;
}

.earn-form__name, .earn-form__birth {
    min-width: 609px;
}

.earn-form__phone, .earn-form__email {
    min-width: 297px;
}

.technical-info {
    margin-top: 32px;
    margin-bottom: 32px;
}

.earn-form__phone {
    margin-right: 10px;
    box-sizing: border-box;
}

.earn-form__button {
    margin-top: 32px;
    margin-left: 445px;
}

